extends ../layouts/sonota_menu.pug

block title
    title github | あひゃえもんのページ

block sonota_content
    h2 github
    p いろいろ作ってるもののソースコード
    a(href="https://github.com/ahyaemon", target="_blank") → github/ahyaemon
