extends ../layouts/music_menu.pug

block title
    title DTM系 | あひゃえもんのページ

block music_content
    h2 DTM系
    p 音量でかいかも

    h3 2017
    article.song
        p juvenile
        audio(src="/static/music/dtm/juvenile.mp3", controls="")
