extends /layouts/default.pug

block title
    title このサイトについて | あひゃえもんのページ

block content
    h2 このサイトについて
    p 管理人：あひゃえもん
    p 連絡先：iamahyaemon&lt;@&gt;gmail.com
    p twitter: @ahyaemon

