body {
    font-family: 游ゴシック,YuGothic,ヒラギノ角ゴ Pro,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,sans-serif;
}

li {
    list-style-type: none;
}

.page-title {
    text-decoration: none;
    color: black;
}

.menu-list {
    padding: 0 0 0 10px;
}

.menu-item {
    color: #647563;
}
