extends /layouts/default.pug

block content
    p ようこそ

    #puzzle

block style
    link(rel="stylesheet", href="/assets/style/puzzle.scss")

block script
    script(src="/script/puzzle.ts")
