extends default.pug

block content
    h2 自作ゲーム
    ul
        li: a.menu-item(href="/game/super_libre.pug") SUPER LIBRE
        li: a.menu-item(href="/game/magical_switch_plus.pug") MAGICAL_SWITCH_PLUS
    hr
    block game_content
