extends default.pug

block content
    h2 自作プログラム
    ul
        li: a.menu-item(href="/program/tuner.pug") チューナー
        li: a.menu-item(href="/program/key_changer.pug") ギターコード移調確認
    hr
    block program_content
