extends default.pug

block content
    h2 自作プログラム
    ul
        li: a.menu-item(href="/sonota/github.pug") github
        li: a.menu-item(href="/sonota/musikui.pug") 虫食い算やろうぜ！！
        li: a.menu-item(href="/sonota/orenorock.pug") 俺のロックまとめ
    hr
    block sonota_content
